body {
    font-family: Roboto, Arial,Helvetica, Sans-serif;
}

header {
    height: 166px;
}

nav {
    height: 180px;

}

article {

}

.contenidor {
    width: 1716px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.entrada {
    width: 536px;
    height: 620px;
    margin: 18px;
    float: left;
}

img {
    width: 536px;
    height: 536px;
}

.reaccions {
    height: 84px;
    overflow: hidden;
}

.cercle {
    width: 100px;
    height: 80px;
    background-color: maroon;
    border-radius: 50%;
    display: inline-block;
    margin: 28px;
    padding: 10px;
    border: solid 5px white;
    box-shadow: 0px 0px 10px maroon;

    background-image: url(../img/perfil.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    opacity: 100%;
    float: left;
}

.cercle:first-child::after {
    content: "+";
    display: block;
    background-color: rgb(201, 76, 97);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    border: solid 5px white;
    position: relative;
    top: 55px;
    left: 60px;
}


.cercle:hover {
    opacity: 80%;
}

/* _________________elements article_________________*/

.fotoautor {
    width: 45px;
    height: 35px;
    border-radius: 50%;
    background-image: url(../img/perfil.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 10px;
    border: solid 5px white;
    box-shadow: 0px 0px 10px maroon;
    float: left;
}

.autor {
    width: 268px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 22px;
}

.moment {
    width: 268px;
    color: gainsboro;
    font-size: 20px;
}

.esquerra {
    width: 50%;
    margin: 0;

    float: left;
}

.dreta {
    width: 50%;
    margin: 0;
    float: right;
}

.comentari {
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 22px;
    width: 180px;
    float: left;
}

.likeee {
    height: 40px;
    width: 40px;
    float: left;
}

.mes {
    height: 40px;
    width: 40px;
    float: left;
    line-height: 30px;
    font-weight: 700;
}

/* _________________elements header_________________*/

.home {
    width: 221px;
    height: 61px;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(../img/ifpagram_09.jpg);
    margin: 50px 0 0 0;
    display: inline-block;
}

.menu {
    width: 208px;
    height: 39px;
    margin: 50px 470px 0 470px;
    display: inline-block;
    padding: 0;
}

.menu li {
    width: 32px;
    height: 32px;
    background: yellow;
    margin: 3px 8px;
    display: inline-block;
    background-image: url(../img/ifpagram_11.jpg);
}

.menu .inici {
    background-position: 44px 33px;

}

.menu .cerca {
    background-position: 128px 33px;
}

.menu .reels {
    background-position: 210px 32px;

}

.menu .favorits {
    background-position: 296px 32px;
}

.perfil {
    width: 208px;
    height: 39px;
    margin: 50px 0 0 0;
    display: inline-block;
}

input {
    visibility:hidden;
  }
  
  #agradador {
    margin: 2rem 0 0 0;
    width: 1rem;
    height: 1rem;
    position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
  }
  
  #agradador label {
    width: 40px;
    height: 40px;
    visibility: visible;
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
    cursor: pointer;
    opacity: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/86/A_perfect_SVG_heart.svg);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    
  }
  
  #agradador input[type=checkbox]:checked+label {
    opacity:1;
  }
  
  